.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.searchAndaddIcons{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bookInputForm{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto; /* This centers the form horizontally */
  align-items: center;
}

.bookInputForm >input{
  margin: 10px;
}

.outerDivTable {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.bookTable {
  border-collapse: collapse;
  width: 100%;
}

.bookTable th,
.bookTable td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.bookTable th {
  background-color: #f2f2f2;
}

.buttonContainer{
  display: flex;
  justify-content: space-around;
}